@import url(https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700,900);

body{
	background-image:url(../images/bg.jpg);

	height:100vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a{
	text-decoration: none;
	color:inherit;
}

h1 {
  font-size: 5.9vw;
}
h2 {
  font-size: 3.0vh;
}
p {
  font-size: 2vmin;
}

.ttimage1{
	position: relative;
	width: 92%;
	z-index: 1;
	animation: fade 5s linear;
	opacity: 0;
	margin-left:2%;
	margin-top:1%;
}
.ttimage2{
	position: relative;
	width: 92%;
	z-index: 2;
	animation: fadein 7s linear;
	opacity: 1;
	margin-left:2%;
	margin-top:1%;
}

.background p{
  	color:  hsla(50,100%,33%,1.00);
  	font-weight:600;
  	font-family: 'Cinzel Decorative', cursive;
  	white-space: nowrap;
  	overflow: hidden;
  	width: 30em;
	position: absolute;
	top: 74%;
	left:38%;
	font-size:3.1vmin;
  	animation: type 3s steps(70, end); 
}

.ttimage2 img{
	margin-left: 25.8%;
	margin-right: 25.8%;
	margin-top: 12vh;
	width: 48.8%;
}

embed{
	text-align:center;
	margin-left:18.5%;
	margin-right:18.5%;
	margin-top:15.2vh;
	width:65%;
}
@keyframes fade{
	from{opacity:1;}
	to{opacity: 0;}
}

@keyframes fadein{
	from{opacity:0;}
	to{opacity: 1;}
}

#text-1, #text-2{ 
	text-align:center;
}

footer div{
	text-align:center;
	text-decoration:inherit;
	color:#c7c7c7;
	opacity:0.8;
}
footer div:hover{
	text-align:center;
	text-decoration:inherit;
	color:#f1f1f1;
	opacity:1;
}

.background {
	z-index: 1;
	width:100%;
	position: absolute;
	top: 0;
	left:0;
}
.middle{
	z-index: 5;
	width: 100%;
	height:100vh;
	background:transparent;
	opacity: 1;
	position: absolute;
	top: 0;
	left:0;
}

.top{
	z-index: 10;
	width: 100%;
	height:100vh;
	opacity: 1;
	position: absolute;
	top: 0;
	left:0;
}
#menu{

}

#Box{
	top:0; left:0;
	position:relative;
	height:100vh;
	padding-top:10%;
	text-align:center;
}

#box-1 {
	animation:box-effects;
	animation-duration:2s;
	animation-timing-function: ease-in-out;
}
#box-2{
	animation:box-effects;
	animation-duration:3s;
	animation-timing-function: ease-in-out;
}
#box-3{
	animation:box-effects;
	animation-duration:4s;
	animation-timing-function: ease-in-out;
}
#box-4 {
	animation:box-effects;
	animation-duration:5s;
	animation-timing-function: ease-in-out;
}
#box-5{
	animation:box-effects;
	animation-duration:6s;
	animation-timing-function: ease-in-out;
}
#box-6{
	animation:box-effects;
	animation-duration:7s;
	animation-timing-function: ease-in-out;
}
#box-7{
	animation:box-effects;
	animation-duration:8s;
	animation-timing-function: ease-in-out;
}
#box-8{
	animation:box-effects;
	animation-duration:9s;
	animation-timing-function: ease-in-out;
}
#box-10{
	animation:box-effects;
	animation-duration:10s;
	animation-timing-function: ease-in-out;
}
#box-11{
	animation:box-effects;
	animation-duration:11s;
	animation-timing-function: ease-in-out;
}

#box-1 span, #box-2 span, #box-3 span, #box-4 span, #box-5 span, #box-6 span, #box-7 span, #box-8 span, #box-10 span, #box-11 span{
	text-align: center;
	color: #d4af37 !important;
	background: rgba(86,86,86,0);
	font-size: 5.6vmin ;
	padding:5px 20px;
	border-radius:20%;
	align-content:center;
}

#box-1 span:hover, #box-2 span:hover, #box-3 span:hover, #box-4 span:hover,#box-10 span:hover{
	text-align: center;
	color: #0062FF !important;
	padding:5px 20px;
	font-size: 5.6vmin;
}
#box-5 span:hover, #box-6 span:hover, #box-7 span:hover, #box-8 span:hover, #box-11 span:hover{
	text-align: center;
	color: #FD1C03 !important;
	padding:5px 20px;
	font-size: 5.6vmin;
}

#box-1 span h1, #box-2 span h1, #box-3 span h1, #box-4 span h1, #box-5 span h1, #box-6 span h1, #box-7 span h1, #box-8 span h1, #box-10 span h1, #box-11 span h1{
	font-size:3.2vmin;
	text-align: center;
	animation:text-effects;
	animation-duration:5s;
	animation-timing-function: ease-in-out;
	font-family: 'Cinzel Decorative', cursive;
}
@keyframes text-effects{
	0%{ opacity:0;}
	60% {opacity:0;}
	100% {opacity:1;}
}
@keyframes box-effects {
	0%   { opacity:0;}
	80% { opacity:1;}
}

.navbar{
	display:none;}

@keyframes type{ 
  from {width:0;} 
} 

a{ text-decoration:inherit !important;
	color:inherit !important;}

/* For Mobile Landscape view */	
@media screen and (max-width: 480px) and (min-width: 140px) {
	.top{
		display:none;
	}
	
	.navbar{
	display:inline;
	left:0;}
	
	.fa{
		color:#d4af37;
	}

	.fa-bars{ color:#bc9356;}
	
	
	li{
		display: block;
		color: #bc9356;
		font-size: 18px;
		font-family: 'Times New Roman', Times, serif;
		margin-right: 10px;
		border-right: 1px solid #bc9356;
	}
		
	li span{
		padding-right: 10px; color: #890000;
	}
	
	li:hover{
	   padding-right: 20px;
	   -webkit-transition: padding 0.5s ease-in-out;
	   -moz-transition: padding 0.5s ease-in-out;
	   transition: padding 0.5s ease-in-out; 
	   color: blue;
	}
	li:hover span{
		color: red;
	}
	#navbar{
		background:   black;
	}
	
	embed{
	text-align:center;
	margin-left:2%;
	margin-right:2%;
	margin-top:15.2vh;
	width:92%;
	}
	.ttimage2 img{
	margin-left: 13%;
	margin-right: 4%;
	margin-top: 13vh;
	width: 74%;
	}
	.background p{
		font-size:2.7vmin;
		top: 74%;
		left:29.5%;
	}
	.ttimage2{
	position: relative;
	width: 85%;}
	.background p{width:auto;}
}