@import url(https://fonts.googleapis.com/css?family=Amita:400,700);
@import url(https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700,900);

li{
    display: block;
    color: #bc9356;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    
    margin-right: 10px;
    border-right: 1px solid #bc9356;
}
li:nth-child(5){
    border: none;
}
li:nth-child(5){
    color: #890000;
}
li:nth-child(5) span{
    color: #890000;
}

li span{
    padding-right: 10px;color: #890000;
}
li:hover{
   padding-right: 20px;
   -webkit-transition: padding 0.5s ease-in-out;
   -moz-transition: padding 0.5s ease-in-out;
   transition: padding 0.5s ease-in-out; 
   color: blue;
}
li:hover span{
    color: #000069;
}
#brand{
   margin-top: 0px;
   font-size: 20px;
    margin-left: 0px;
    color: #bc9356;
	font-family:  'Cinzel Decorative',cursive;   
}
#brand img{
    margin: -10px 10px 0px;
    width: 35px;
    
}
.container{
    margin-right: 0px;
    width: 100%;
}
#navbar{
    
    background:   black;
}
body{
	margin-top:30px !important;
background-color:#000000 !important;
background-image:url(../images/bg.jpg) !important;
background-repeat:no-repeat;
background-size:contain !important;
opacity:1;
z-index:1;
}

footer{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 20px;
    color: grey;
 
}
footer a{
    color: grey;
    opacity: 0.7;
}
footer a:hover{
    opacity: 1;
    color: inherit;
    text-decoration: none;
}

#content{font-family: 'Cinzel Decorative', cursive;
text-align:center ;
color:#bc9356;
align-content:center;
alignment-adjust:middle;
vertical-align:middle;
}

#details{
	font-family: 'Amita', cursive;
	align-content:center;
	align:center;
	margin-right:20%;
	margin-left:20%;
	border-color:#FF0004;}

#details .fb{ color:#bc9356; }

#deatails .fb:hover{color:#000061;
text-decoration:blink;}

.ann{color:#bc9356;}
.ann:hover{color:#890000}

.ash{color:#bc9356;}
.ash:hover{color:#890000}

.pri{color:#bc9356;}
.pri:hover{color:#890000}


#mail{	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif !important;}